---
---
// Основні змінні стилю
$background-color: #0B0D10; 
$primary-color: #40E0FF; 

@import "minimal-mistakes/skins/dark";
@import "minimal-mistakes";

// Приховуємо технічні написи для "дорогого" вигляду
.page__footer-copyright {
  display: none!important;
}

// Покращення вигляду кнопок
.btn--primary {
  background-color: $primary-color!important;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(64, 224, 255, 0.3);
}
